<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipmedt41617.ipmedt4_h">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Beenband revalidatie applicatie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/IPMEDT4">
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OefeningActivity"
            android:label="Oefeningen"
            android:theme="@style/IPMEDT4.NoActionBar" />
        <activity
            android:name=".Activities.MenuActivity"
            android:label="Profiel en oefeningen"
            android:theme="@style/IPMEDT4.NoActionBar" />
        <activity android:name=".Activities.PatientgegevensActivity" />
        <activity android:name=".Activities.InstructiesAcitivy" />
        <activity android:name=".Activities.InstructiesActivity"></activity>
    </application>

</manifest>